@model CadastroContatosMVC.Models.ViewModels.ContatoFormViewModel

@{
    ViewData["Title"] = "Criar Novo";
}

<h2>@ViewData["Title"]</h2>

<h4>Contato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contato.Nome" class="control-label">Nome</label>
                <input asp-for="Contato.Nome" class="form-control" placeholder="Informe seu nome"/>
                <span asp-validation-for="Contato.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato.Email" class="control-label">Email</label>
                <input asp-for="Contato.Email" class="form-control" placeholder="Informe seu e-mail"/>
                <span asp-validation-for="Contato.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato.Telefone" class="control-label">Telefone</label>
                <input asp-for="Contato.Telefone" class="form-control" placeholder="Informe seu telefone"/>
                <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success"/>
                <a class="btn btn-default" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
            </div>
        </form>
    </div>
</div>