@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">roger.fc@outlook.com</a><br />
</address>
